*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    height: 100vh;
    
}

.caixa-mae{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 100px;
    justify-content: space-between;
}

.caixa-maior{
    width: 40%;
}

.paragrafo{
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    color: #fff;
}
.logo{
    height: 200px;
}

.botao-orçamento{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #c51111;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.botao-orçamento:hover{
    background-color: #962626;
    width: 152px;
    
}

.logo-mario-luigi{
    height: 300px;
}

.logo-mario-luigi:hover{
    height: 320px;
    transition: 0.1s  ease-in-out;
}

.caixa-video{
    position: fixed;
    z-index: -1;
    top: 0;
}

video{
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);


}

.link-whatss{
    height: 55px;
    position:fixed;
    right: 20px;
    bottom: 20px;
}

.link-whatss:hover{
    height: 58px;
    transition: 0.1s  ease-in-out;
    cursor: pointer;
}

.header{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
}



.header img{
    height: 70px;
}

.header a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.header a:hover{
    color: #c51111;
    font-size: 22px;
    transition: 0.1s  ease-in-out;
}

.formulario{
    background-color: #fff;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 30%;
    left: -360px;
    padding: 50px;
    border-radius: 5px;
    transition: left 1s ease-in-out;

}

.botao-formulario{
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 7px;
    background-color: #c51111;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.botao-formulario:hover{
    background-color: #962626;
    
}


input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
}

textarea{
    height: 100px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
    resize: none;
}

.mascara-formulario{
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 1s ease-in-out;
}

@media(max-width: 1000px){
    p{
        display: none;
    }

    .caixa-mae{
        flex-direction: column;
        
        padding: 10px;
    }

    .caixa-maior{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .logo-mario-luigi{
        width: 80%;
        height: auto;
        margin-left: 30px;
    }

    .header{
        margin: 10px;
        align-items: center;
        justify-content: center;
    }

    .header img{
        display: none;
    }

    .header a {
        font-size: 20px;
    }
}


